<!--The content below is only a placeholder and can be replaced.-->
<div class="container center-block" style="width:600px; margin:auto; text-align: center">
  <h1>Hangman game <button class="btn btn-sm btn-outline-primary" (click)="openHowToPlay(content)">How to play</button></h1>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4>How to play</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><b>Guess the hidden word! </b>
        Click one of the characters to see if they are part of the word.
        Correct characters will be filled in. If you guess an incorrect character 5 times you lose.
        If you win, your score is determined based on how much time you took and how many times you guessed a character incorrectly.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
  <hr/>

  <div style="text-align:center">
    <div style="font-size:200%; margin-top:15px">
      {{word}}
    </div>
  </div>
  <div *ngIf="gameState === 'ONGOING'">
    <div>
      <button *ngFor="let letter of letters" class="letterBtn btn btn-default btn-sm" style="font-size:100%; width:35px !important; height:35px !important" (click)="guessLetter(letter)">{{letter}}</button>
    </div>
    <div style="text-align: center">
      {{guessesLeft}} attempts remaining!
    </div>
  </div>
  <div *ngIf="gameState === 'LOST'">
    Sorry, you lost
    <button class="btn btn-primary btn-sm" (click)="startGame()">Try again!</button>
  </div>
  <div *ngIf="gameState === 'WON'" style="margin-top: 15px">
    <h4>Hurray! You won!</h4>
    Enter your name: <br/>
    <input [(ngModel)]="name" type="text"/>
    <button class="btn btn-primary btn-sm" (click)="saveScore()">Submit score</button><br/>
    <button class="btn btn-default btn-sm" (click)="startGame()">Play again!</button>
  </div>
  <hr/>
  <div style="width:500px; margin:auto; text-align: center; margin-top: 40px">
    <h3>Highscores</h3>
    <div *ngFor="let entry of highscores">
    {{entry.score}} - {{entry.user}}
    </div>
  </div>
</div>
